<h2 class="text-center">A list of Actions in {{workerId}}</h2>
<div *ngIf="actions.length == 0; else actionList">
      <p class="text-center">This worker don't have any actions yet.</p>
</div>
<ng-template #actionList>
      <div class="card mx-auto" style="max-width: 25rem;">
            <ul class="list-group list-group-flush">
                  <app-action-card [action]="action" [workerId]="workerId!" *ngFor="let action of actions"></app-action-card>
            </ul>
      </div>
</ng-template>